{% extends 'portfolio/vsp.html' %}

{% load static %}

{% block content_ru_version %}
<p align="justify">Мне очень нравится язык Python. И мне очень импонирует Django. Наверное, нужно будет поговорить об
    этом в блоге… Каких-то «проектов» у меня пока мало. Я занимаюсь python on the stepik.org. Я читаю статьи в телеграмм
    и на просторах интернета. Я взял пару баз на CheckiO.org. Любимая подарила мне курс на stepik “ Django 3 - Full
    Stack разработка веб-сайтов на Python”, в результате которого я и создаю свое портфолио. Ей отдельное СПАСИБО! :-)
</p>>
<p align="justify">Где ж реально понадобилось мне уже все что мне нравится? Ну конечно, на работе! Я то и
    заинтересовался Django, потому что мне дико хотелось переделать все свои программы VBA, в какую-то более удобную и
    правильную программу, завязанную на SQL, ну… знаете чтобы там все было по взрослому. А оказалось, что на курсы меня
    никто не отправит, помогать не будет, ну а в конце то концов я оказался не нужен на своей работе, так как это им не
    надо это вовсе, а вместо меня взяли знакомого парня, без образования с далекого города. Ладно, хорошо. Это же не
    значит, что НЕ надо познавать интересное и более прогрессивное? Да, конечно нет! Я нашел другую работу :-). Да она
    про администрирование, ну и что. Python надо везде!</p>
<h2>Задача 1.</h2>
<p align="justify">На моей текущей работе есть программа в Access, в которой создается обсчёт изделий, выпускаемых
    фирмой, в которой я работаю. Так же эта программа формирует файлы в формате xml, которые импортируются на три сайта
    фирмы и прайс товаров в Битрикс24. Так произошло, что человек, разрабатывающий это ПО, перестал его поддерживать. А
    законодательные изменения никто не отменял, и в названии всех изделий необходимо было ввести ТУ, это такие
    определенно сформированные буквы и цифры. Т.е. если проще, необходимо взять прайс и к столбцу «Название» приклеить
    столбец «Маркировка» потом столбец «Численная Маркировка» и все это снова записать в «Название». А так как мне уже
    давно хотелось попробовать в python какие-нибудь библиотеки, отвечающие за формы, то я используя <b>PySimpleGUI</b>
    организовал форму общения с пользователем, в данном случае больше с самим собой, и используя pandas загружаю нужный
    мне прайс из xml, модифицирую его и записываю назад в xml. Потом используя <b>auto-py-to-exe</b> я сконвертировал
    скрипт в exe, чтобы он исполнялся на любых ПК под Win. Получилось здорово, конечно, если у тебя есть нужный прайс
    :-)</p>
    <a class="btn btn-primary" href="{% static "portfolio/correct.py" %}" src="{% static "portfolio/correct.py" %}"
           target="_blank">Ссылка на correct.py</a>
    <p align="center">
    <img name="{% static "portfolio/dj_1.png" %}" src="{% static "portfolio/py_2.png" %}" class="img-fluid" height="40%">
    </p>

<h2>Задача 2. </h2>
<p align="justify">Из того самого вышеупомянутого курса. Необходимо создать сайт, генерирующий пароли заданной длинны из
    букв, верхнего нижнего регистров, цифр и спец символов
    <a href="https://github.com/IvShalygin/django4-password-generator/tree/master/password_gnerator_project"
       target="_blank">Ссылка на проект на GitHub.com</a>
<p align="center">
    <img name="{% static " portfolio/dj_1.png" %}" src="{% static "portfolio/dj_1.png" %}">
    <img name="{% static " portfolio/dj_2.png" %}" src="{% static "portfolio/dj_2.png" %}">
</p>

<h2>Задача 3. </h2>
<p align="justify">Необходимо используя ресурс предоставления погоды узнать погоду в трех городах (Шереметьево,
    Череповце и Лондоне)</p>
<a href="https://replit.com/@DarkUnicorns/getweather#main.py" target="_blank">Ссылка на ресурс решения задачи</a>
<p align="center">
    <img name="{% static " portfolio/py_1.png" %}" src="{% static "portfolio/py_1.png" %}" height="40%"> </p>


{% endblock%}

{% block content_en_version %}
222
{% endblock%}

{% block content_by_version %}
333
{% endblock%}