{% extends 'portfolio/vsp.html' %}

{% load static %}

{% block content_ru_version %}
<p align="justify">Что такое это вот.. системное администрирование? Да, это нужно взять ПК, настроить прям сразу всё-всё
    и забыть про этот ПК. Никого не видеть, не общаться и только мерный гул кулеров, головок HDD и свет диодов на ПК и
    switches. Идеальная работа для флегматично-меланхоличных интровертов.</p>
<p align="justify">Но на самом деле вышеописанное это часть работы системного администратора. Во-первых, сразу всё-всё
    точно не получится, потому что не все известно, а еще ты оказывается человек :). Во-вторых, все изменяется и то что
    было вчера далеко не то что нужно сегодня. В-третьих, всё ломается, абсолютно всё, особенно если его сделали так,
    чтобы ресурс жизни был низкий. В-четвертых,… эм я не разу не флегматик и не разу не интроверт, я люблю коллектив, и
    это уже личная характеристика.</p>
<p align="justify">Как бы там не было, чего бы там не было и каким бы ты странным не был – системный администратор, это
    работа по поддержке техники и работы людей с ней. Это общение, понимание и достижение целей вместе с другими
    людьми.</p>
<p align="justify">Я системный администратор ПК Windows, я не много знаю Linux, но я работаю в этом направлении: ставлю
    виртуальные машины и пытаюсь решить на них разные обыденные задачи (доступ SSH, SMB, vpn-wireguard, nginx, php,
    mysql). Все операционные системы крутятся физически на железе, и моя задача понимать, как это работает, определять
    сбойные компоненты, тестировать их, уметь их заменять, содержать в чистоте, соединять пк в сети и обеспечивать
    работоспособность
    этой сети.</p>
<p align="justify">Помогать пользователей и немного контролировать их.</p>

{% endblock%}

{% block content_en_version %}
222
{% endblock%}

{% block content_by_version %}
333
{% endblock%}

<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <p align="justify">
                Первое, что я предложил, что вместо писания в бумажных журналах, сделать электронный журнал в Excel. Эти
                же люди смогут в него вносить результаты, анализ которых возможно будет производиться гораздо быстрее.
                Да, печатать сложнее, чем писать, дольше, но потеряв тут времени в других местах это время мы
                компенсируем в разы, потому что… барабанные палочки… эти же данные, с измененными параметрами, вносились
                эпидемиологами, другими врачами, в свои таблицы! Т.е. по сути где-то есть еще люди, которые делали такую
                же работу. Ну, а имея таблицы всех пациентов и зная результаты анализов, появляется легкая возможность
                делиться этой информацией как с эпидемиологами, так и быстро формировать файлы за день и отправлять их
                сводкой в медицинские учреждения, увеличивая скорость принятия по ним решений.
            </p>
            <p align="justify">
                Но оказалось, что ведение того самого журнала, который бы облегчил по сути работу, невозможно, т.к. есть
                какой-то документ, в который надо ввести изменения, а чтобы их ввести надо доказать руководству что этот
                путь маст хэв. Если честно, я думаю, что если бы это зависело от чиновников, то это бы никогда не
                случилось. Но все это было проблемой и в ней учавствовало очень много врачей, который очень часто
                принимаю решение здесь и сейчас.
            </p>

        </div>
        <div class="col">
            <img name="{% static " portfolio/vba_5_lab.png" %}" src="{% static "portfolio/vba_5_lab.png" %}"
            class="img-fluid img-thumbnail">
        </div>
    </div>
</div>