{% extends 'portfolio/vsp.html' %}

{% load static %}

{% block content_ru_version %}
<p align="justify">Когда-то я работал в Гомельском областном центре гигиены, эпидемиологии и общественного
    здоровья.</p>
<p align="justify">Одной из главных задач, которые выполняло учреждение, это сбор и анализ информации. Данную
    информацию получали из подчинённых организаций -- районных центров гигиены. Понятно, что и из других организаций они
    тоже получали разную
    отчетную информацию, но больше всего, конечно, было именно из непосредственно подчинённых.</p>
<div class="clearfix">
    <img name="{% static " portfolio/vba_1_deti_client.png" %}" src="{% static "portfolio/vba_1_deti_client.png" %}"
    class="col-md-6 float-md-end mb-3 ms-md-3">
    <p align="justify">Сначала они делали запрос в формате текстовых документов, а потом на калькуляторе
        складывали, это были 2000-е года. Компьютеров было мало, а тех, что поддерживали word & exсel и того
        меньше. Вы удивитесь, но в то время и электронные таблицы были специфическими… Мне поручили проводить
        курсы по Word, Excel для сотрудников организации и так 5 или 6
        раз.</p>
    <p align="justify">В общем к задаче1, а то и так долго со вступлением, надо было собрать по нужному шаблону
        информацию с районов. Да! Для этого нужен был однозначно Excel и ДА, там были сводные таблицы. Они были
        странные, но тогда я хотел чего-то своего. И поэтому придумал сам каким образом собирать, складывать,
        представлять информацию в сборочный файл, которая и была программой. Таким образом на районы рассылался
        файл, в котором они могли по определенной форме заполнять данные, идентифицировать свои данные с помощью
        выбора из выпадающего списка:</p>
</div>
<div class="clearfix">
    <img name="{% static " portfolio/vba_1_deti.png" %}" src="{% static "portfolio/vba_1_deti.png" %}" class="col-md-6
    float-md-end mb-3 ms-md-3">
    <p align="justify">Потом по почте эти файлы приходили, складывали в одну директорию, и уже оттуда подчитывались
        программой сборкой, коммутирующей с пользователем по средству форм.</p>
    <p align="justify">Сначала это была одна задача, но потом их стало две, три и к моменту моего увольнения это было
        уверенные тридцать.</p>
    <p align="justify">Мне было интересно, а еще я помогал своим коллегам. Кто-то пользовался моими программами, кто-то
        сводными таблицами, я знаю о двоих, а кто-то по-прежнему вручную переносил данные из файлов районов в итоговые
        формы вручную, копируя столбцы и строки. И я скажу вам, что последние не такие уж плохие, если формы часто
        меняются, а действия единичные: сделал, сдал и забыл <img height="10%" src="{% static " portfolio/smiley_1.png"
        %}" >.
    </p>
</div>
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <img name="{% static " portfolio/vba_2_buh.png" %}" src="{% static "portfolio/vba_2_buh.png" %}"
            class="img-fluid">
        </div>
        <div class="col">
            <img name="{% static " portfolio/vba_3_trud.png" %}" src="{% static "portfolio/vba_3_trud.png" %}"
            class="img-fluid">
        </div>

    </div>
</div>
<hr>
<h2>Задача2. </h2>

<p align="justify">Ко мне обратилась инженер лабораторного обеспечения со следующей проблемой: необходимо было
    калибровать пипетки. Как происходит калибровка: берут пипетку, набирают в нее воду, нажимают, взвешивают. Потом
    данные подвергаются статистическим методам, сравнивалось с постоянными из таблицы распределения Стьюдента. Если
    меньше либо равно, то считалось, что дозатор отрегулирован верно. И считалась далее «воспроизводимость». Если она
    находилась так же в допустимом значении, то снова дозатор не регулировался. Собственно, данный алгоритм с перечнем я
    и воспроизвел в своей программе.
</p>

<img name="{% static "
     portfolio/vba_4_lab.png" %}" src="{% static "portfolio/vba_4_lab.png" %}" class="rounded mx-auto d-block">
<p align="justify">
    Далее велся журнал этих действий и получившихся итогов, оформленный в виде бирок. <br>
    При разработке программы в первую очередь ставился факт, что это необходимо самим людям, которые работаю с
    пипетками, т.к. если пипетки будут неточными, то и вероятность ошибки всей работы возрастает неимоверно.
</p>
<hr>
<h2>Задача3. </h2>
<p align="justify">
    Начался Covid-19. Представляете… март 2020 на улице, захожу в вирусологическую лабораторию в один из кабинетов, а
    там на подоконнике на пятой части окна лежат направления людей, которые сдали анализ. Для увеличения эффекта
    повторюсь: пятая часть оконного проема занята тоненькими листочками (толщина примерно в 0,1 мм), а высота окна 150
    см и ширина 150 см. Это чтобы вы понимали. Сидят две девчонки помощники врача, мои коллеги, и переписывают данные с
    этих направлений вручную в бумажные журналы, потом приходит врач и начинает считать положительных, отрицательных...
    потом идет сортировка этих бумажек. Короче, закат солнца вручную примерно к двум часам ночи и так цикл повторить.
</p>
<p align="justify">
    Потом оказывается, что нужно быстрее передать информацию, о людях, у которых положительный тест на Ковид, тогда все
    положительные направления сканируются и отправляются по электронной почте в виде графических файлов. Ну а сканеров с
    автоподачей нет, поэтому каждый листочек вынь положи, переложи новый, каждый файлик отправь куда надо. Тут я вообще
    не описал процессы забора материала, сам процесс работы врачей вирусологов и их помощников. Опять целый абзац… а
    задачи-то так и нет! Да бог с ней, погодите! Вернемся к тому самому окну…
</p>

<div class="clearfix">
    <img name="{% static " portfolio/vba_5_lab.png" %}" src="{% static "portfolio/vba_5_lab.png" %}" class="col-md-9
    float-md-end mb-3 ms-md-3">
    <p align="justify">
        Первое, что я предложил, что вместо писания в бумажных журналах, сделать электронный журнал в Excel. Эти же люди
        смогут в него вносить результаты, анализ которых возможно будет производиться гораздо быстрее. Да, печатать
        сложнее, чем писать, дольше, но потеряв тут времени в других местах это время мы компенсируем в разы, потому
        что… барабанные палочки… эти же данные, с измененными параметрами, вносились эпидемиологами, другими врачами, в
        свои таблицы! Т.е. по сути где-то есть еще люди, которые делали такую же работу. Ну, а имея таблицы всех
        пациентов и зная результаты анализов, появляется легкая возможность делиться этой информацией как с
        эпидемиологами, так и быстро формировать файлы за день и отправлять их сводкой в медицинские учреждения,
        увеличивая скорость принятия по ним решений.
    </p>
    <p align="justify">
        Но оказалось, что ведение того самого журнала, который бы облегчил по сути работу, невозможно, т.к. есть
        какой-то документ, в который надо ввести изменения, а чтобы их ввести надо доказать руководству что этот путь
        маст хэв. Если честно, я думаю, что если бы это зависело от чиновников, то это бы никогда не случилось. Но все
        это было проблемой и в ней учавствовало очень много врачей, который очень часто принимаю решение здесь и сейчас.
    </p>
</div>
<p align="justify">
    Ну и в начале мая я получил добро на создание электронного журнала, а дальше все закрутилось и надо было написать
    программу, которая делала все что хотели и что требовалось врачам вирусологам: т.е. это была таблица, примерно на
    30к; с её помощью было легко просматривать результаты дня, недели, месяца; отсортированными результаты деятельности
    легко отправляли в больницы Гомельской области, эпидемиологам центров гигиены; выписывались результаты; формировался
    документ на выезд в другие страны мира. Вышло так:
</p>
<img name="{% static "
     portfolio/vba_6_lab.png" %}" src="{% static "portfolio/vba_6_lab.png" %}" class="rounded mx-auto d-block">
<img name="{% static "
     portfolio/vba_7_lab.png" %}" src="{% static "portfolio/vba_7_lab.png" %}" class="rounded mx-auto d-block">
<hr>
<h2>Задача4.</h2>
<p align="justify">
    Хорош эмоций – сразу к делу: У нас есть таблица данных по технике для списания, необходимо было сформировать акты
    неремонтопригодности и акты списания основных средств. Входные данные были разнесены в Excel, запускалась программа
    и результатом становились файлы Word (два типа актов).
</p>
<img name="{% static "
     portfolio/vba_8_asu.png" %}" src="{% static "portfolio/vba_8_asu.png" %}" class="img-fluid rounded mx-auto d-block">
<img name="{% static "
     portfolio/vba_9_asu.png" %}" src="{% static "portfolio/vba_9_asu.png" %}" class="rounded mx-auto d-block">
{% endblock%}

{% block content_en_version %}
<p align="justify">Once upon a time I worked in the Homiel Regional Center for Hygiene, Epidemiology and Public
    health.</p>
<p align="justify">Once of main tasks, which carried out by the organization, is the collection and analysis
    information. This information given from subordinate organizations district hygiene centers. It is clear that from
    other organizations they also received different
    reporting information, but most of all, of course, it was from directly subordinates. </p>
<div class="clearfix">
    <img name="{% static " portfolio/vba_1_deti_client.png" %}" src="{% static "portfolio/vba_1_deti_client.png" %}"
    class="col-md-6 float-md-end mb-3 ms-md-3">
    <p align="justify">At first, they made report at the format text documents, and than calculator folded, it was 2000
        years. Computers was not enought and those support word & exсel that less. Your will be suprised, but at the
        time spreadsheets were also specific... I was assigned to conduct Word & Exel course for employess of the
        organization and so 5 or 6 time.</p>
    <p align="justify">In general, let's go to task 1, and even so long with introduction, it was nessesory to collect
        information from district to the required template. YES! For this, Excel was clearly needed and yes, summary
        tables were there. They were strange, but I wanted something of his own. And so I came up with how to collect,
        add and present information in an assembly file, in which it was program. Thus, the file-client sended to
        district centers, in which they could fill in the date according to a certain form, identify your data using
        selection from the drop-down list.:</p>
</div>
<div class="clearfix">
    <img name="{% static " portfolio/vba_1_deti.png" %}" src="{% static "portfolio/vba_1_deti.png" %}" class="col-md-6
    float-md-end mb-3 ms-md-3">
    <p align="justify">Then this files came by mail, folded in once directory, and already read from then the assembly
        program, commuting with the user by means of forms.</p>
    <p align="justify">At first, it was a single task, but then there were two, three and there were confident thirty
        tasks at the moment my dismissal.</p>
    <p align="justify">I was intrasting, and yet I helped my colleagues. Somebody used my programs, somebody summary
        tables, I know two of them, and somebody still manual transfered data from district files to the final forms,
        manual copied colum and row. And I will tell you, the last one isn't bad, if forms are often change, but actions
        are singular: made, passed and forgot <img height="10%" src="{% static " portfolio/smiley_1.png"
        %}" >.
    </p>
</div>
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <img name="{% static " portfolio/vba_2_buh.png" %}" src="{% static "portfolio/vba_2_buh.png" %}"
            class="img-fluid">
        </div>
        <div class="col">
            <img name="{% static " portfolio/vba_3_trud.png" %}" src="{% static "portfolio/vba_3_trud.png" %}"
            class="img-fluid">
        </div>

    </div>
</div>
<hr>
<h2>Task2.</h2>

<p align="justify">Ко мне обратилась инженер лабораторного обеспечения со следующей проблемой: необходимо было
    калибровать пипетки. Как происходит калибровка: берут пипетку, набирают в нее воду, нажимают, взвешивают. Потом
    данные подвергаются статистическим методам, сравнивалось с постоянными из таблицы распределения Стьюдента. Если
    меньше либо равно, то считалось, что дозатор отрегулирован верно. И считалась далее «воспроизводимость». Если она
    находилась так же в допустимом значении, то снова дозатор не регулировался. Собственно, данный алгоритм с перечнем я
    и воспроизвел в своей программе.
</p>

<img name="{% static "
     portfolio/vba_4_lab.png" %}" src="{% static "portfolio/vba_4_lab.png" %}" class="rounded mx-auto d-block">
<p align="justify">
    Далее велся журнал этих действий и получившихся итогов, оформленный в виде бирок. <br>
    При разработке программы в первую очередь ставился факт, что это необходимо самим людям, которые работаю с
    пипетками, т.к. если пипетки будут неточными, то и вероятность ошибки всей работы возрастает неимоверно.
</p>
<hr>
<h2>Задача3. </h2>
<p align="justify">
    Начался Covid-19. Представляете… март 2020 на улице, захожу в вирусологическую лабораторию в один из кабинетов, а
    там на подоконнике на пятой части окна лежат направления людей, которые сдали анализ. Для увеличения эффекта
    повторюсь: пятая часть оконного проема занята тоненькими листочками (толщина примерно в 0,1 мм), а высота окна 150
    см и ширина 150 см. Это чтобы вы понимали. Сидят две девчонки помощники врача, мои коллеги, и переписывают данные с
    этих направлений вручную в бумажные журналы, потом приходит врач и начинает считать положительных, отрицательных...
    потом идет сортировка этих бумажек. Короче, закат солнца вручную примерно к двум часам ночи и так цикл повторить.
</p>
<p align="justify">
    Потом оказывается, что нужно быстрее передать информацию, о людях, у которых положительный тест на Ковид, тогда все
    положительные направления сканируются и отправляются по электронной почте в виде графических файлов. Ну а сканеров с
    автоподачей нет, поэтому каждый листочек вынь положи, переложи новый, каждый файлик отправь куда надо. Тут я вообще
    не описал процессы забора материала, сам процесс работы врачей вирусологов и их помощников. Опять целый абзац… а
    задачи-то так и нет! Да бог с ней, погодите! Вернемся к тому самому окну…
</p>

<div class="clearfix">
    <img name="{% static " portfolio/vba_5_lab.png" %}" src="{% static "portfolio/vba_5_lab.png" %}" class="col-md-9
    float-md-end mb-3 ms-md-3">
    <p align="justify">
        Первое, что я предложил, что вместо писания в бумажных журналах, сделать электронный журнал в Excel. Эти же люди
        смогут в него вносить результаты, анализ которых возможно будет производиться гораздо быстрее. Да, печатать
        сложнее, чем писать, дольше, но потеряв тут времени в других местах это время мы компенсируем в разы, потому
        что… барабанные палочки… эти же данные, с измененными параметрами, вносились эпидемиологами, другими врачами, в
        свои таблицы! Т.е. по сути где-то есть еще люди, которые делали такую же работу. Ну, а имея таблицы всех
        пациентов и зная результаты анализов, появляется легкая возможность делиться этой информацией как с
        эпидемиологами, так и быстро формировать файлы за день и отправлять их сводкой в медицинские учреждения,
        увеличивая скорость принятия по ним решений.
    </p>
    <p align="justify">
        Но оказалось, что ведение того самого журнала, который бы облегчил по сути работу, невозможно, т.к. есть
        какой-то документ, в который надо ввести изменения, а чтобы их ввести надо доказать руководству что этот путь
        маст хэв. Если честно, я думаю, что если бы это зависело от чиновников, то это бы никогда не случилось. Но все
        это было проблемой и в ней учавствовало очень много врачей, который очень часто принимаю решение здесь и сейчас.
    </p>
</div>
<p align="justify">
    Ну и в начале мая я получил добро на создание электронного журнала, а дальше все закрутилось и надо было написать
    программу, которая делала все что хотели и что требовалось врачам вирусологам: т.е. это была таблица, примерно на
    30к; с её помощью было легко просматривать результаты дня, недели, месяца; отсортированными результаты деятельности
    легко отправляли в больницы Гомельской области, эпидемиологам центров гигиены; выписывались результаты; формировался
    документ на выезд в другие страны мира. Вышло так:
</p>
<img name="{% static "
     portfolio/vba_6_lab.png" %}" src="{% static "portfolio/vba_6_lab.png" %}" class="rounded mx-auto d-block">
<img name="{% static "
     portfolio/vba_7_lab.png" %}" src="{% static "portfolio/vba_7_lab.png" %}" class="rounded mx-auto d-block">
<hr>
<h2>Задача4.</h2>
<p align="justify">
    Хорош эмоций – сразу к делу: У нас есть таблица данных по технике для списания, необходимо было сформировать акты
    неремонтопригодности и акты списания основных средств. Входные данные были разнесены в Excel, запускалась программа
    и результатом становились файлы Word (два типа актов).
</p>
<img name="{% static "
     portfolio/vba_8_asu.png" %}" src="{% static "portfolio/vba_8_asu.png" %}" class="img-fluid rounded mx-auto d-block">
<img name="{% static "
     portfolio/vba_9_asu.png" %}" src="{% static "portfolio/vba_9_asu.png" %}" class="rounded mx-auto d-block">
{% endblock%}

{% block content_by_version %}
<p align="justify">Когда-то я работал в Гомельском областном центре гигиены, эпидемиологии и общественного
    здоровья.</p>
<p align="justify">Одной из главных задач, которые выполняло учреждение, это сбор и анализ информации. Данную
    информацию получали из подчинённых организаций -- районных центров гигиены. Понятно, что и из других организаций они
    тоже получали разную
    отчетную информацию, но больше всего, конечно, было именно из непосредственно подчинённых.</p>
<div class="clearfix">
    <img name="{% static " portfolio/vba_1_deti_client.png" %}" src="{% static "portfolio/vba_1_deti_client.png" %}"
    class="col-md-6 float-md-end mb-3 ms-md-3">
    <p align="justify">Сначала они делали запрос в формате текстовых документов, а потом на калькуляторе
        складывали, это были 2000-е года. Компьютеров было мало, а тех, что поддерживали word & exсel и того
        меньше. Вы удивитесь, но в то время и электронные таблицы были специфическими… Мне поручили проводить
        курсы по Word, Excel для сотрудников организации и так 5 или 6
        раз.</p>
    <p align="justify">В общем к задаче1, а то и так долго со вступлением, надо было собрать по нужному шаблону
        информацию с районов. Да! Для этого нужен был однозначно Excel и ДА, там были сводные таблицы. Они были
        странные, но тогда я хотел чего-то своего. И поэтому придумал сам каким образом собирать, складывать,
        представлять информацию в сборочный файл, которая и была программой. Таким образом на районы рассылался
        файл, в котором они могли по определенной форме заполнять данные, идентифицировать свои данные с помощью
        выбора из выпадающего списка:</p>
</div>
<div class="clearfix">
    <img name="{% static " portfolio/vba_1_deti.png" %}" src="{% static "portfolio/vba_1_deti.png" %}" class="col-md-6
    float-md-end mb-3 ms-md-3">
    <p align="justify">Потом по почте эти файлы приходили, складывали в одну директорию, и уже оттуда подчитывались
        программой сборкой, коммутирующей с пользователем по средству форм.</p>
    <p align="justify">Сначала это была одна задача, но потом их стало две, три и к моменту моего увольнения это было
        уверенные тридцать.</p>
    <p align="justify">Мне было интересно, а еще я помогал своим коллегам. Кто-то пользовался моими программами, кто-то
        сводными таблицами, я знаю о двоих, а кто-то по-прежнему вручную переносил данные из файлов районов в итоговые
        формы вручную, копируя столбцы и строки. И я скажу вам, что последние не такие уж плохие, если формы часто
        меняются, а действия единичные: сделал, сдал и забыл <img height="10%" src="{% static " portfolio/smiley_1.png"
        %}" >.
    </p>
</div>
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <img name="{% static " portfolio/vba_2_buh.png" %}" src="{% static "portfolio/vba_2_buh.png" %}"
            class="img-fluid">
        </div>
        <div class="col">
            <img name="{% static " portfolio/vba_3_trud.png" %}" src="{% static "portfolio/vba_3_trud.png" %}"
            class="img-fluid">
        </div>

    </div>
</div>
<hr>
<h2>Задача2. </h2>

<p align="justify">Ко мне обратилась инженер лабораторного обеспечения со следующей проблемой: необходимо было
    калибровать пипетки. Как происходит калибровка: берут пипетку, набирают в нее воду, нажимают, взвешивают. Потом
    данные подвергаются статистическим методам, сравнивалось с постоянными из таблицы распределения Стьюдента. Если
    меньше либо равно, то считалось, что дозатор отрегулирован верно. И считалась далее «воспроизводимость». Если она
    находилась так же в допустимом значении, то снова дозатор не регулировался. Собственно, данный алгоритм с перечнем я
    и воспроизвел в своей программе.
</p>

<img name="{% static "
     portfolio/vba_4_lab.png" %}" src="{% static "portfolio/vba_4_lab.png" %}" class="rounded mx-auto d-block">
<p align="justify">
    Далее велся журнал этих действий и получившихся итогов, оформленный в виде бирок. <br>
    При разработке программы в первую очередь ставился факт, что это необходимо самим людям, которые работаю с
    пипетками, т.к. если пипетки будут неточными, то и вероятность ошибки всей работы возрастает неимоверно.
</p>
<hr>
<h2>Задача3. </h2>
<p align="justify">
    Начался Covid-19. Представляете… март 2020 на улице, захожу в вирусологическую лабораторию в один из кабинетов, а
    там на подоконнике на пятой части окна лежат направления людей, которые сдали анализ. Для увеличения эффекта
    повторюсь: пятая часть оконного проема занята тоненькими листочками (толщина примерно в 0,1 мм), а высота окна 150
    см и ширина 150 см. Это чтобы вы понимали. Сидят две девчонки помощники врача, мои коллеги, и переписывают данные с
    этих направлений вручную в бумажные журналы, потом приходит врач и начинает считать положительных, отрицательных...
    потом идет сортировка этих бумажек. Короче, закат солнца вручную примерно к двум часам ночи и так цикл повторить.
</p>
<p align="justify">
    Потом оказывается, что нужно быстрее передать информацию, о людях, у которых положительный тест на Ковид, тогда все
    положительные направления сканируются и отправляются по электронной почте в виде графических файлов. Ну а сканеров с
    автоподачей нет, поэтому каждый листочек вынь положи, переложи новый, каждый файлик отправь куда надо. Тут я вообще
    не описал процессы забора материала, сам процесс работы врачей вирусологов и их помощников. Опять целый абзац… а
    задачи-то так и нет! Да бог с ней, погодите! Вернемся к тому самому окну…
</p>

<div class="clearfix">
    <img name="{% static " portfolio/vba_5_lab.png" %}" src="{% static "portfolio/vba_5_lab.png" %}" class="col-md-9
    float-md-end mb-3 ms-md-3">
    <p align="justify">
        Первое, что я предложил, что вместо писания в бумажных журналах, сделать электронный журнал в Excel. Эти же люди
        смогут в него вносить результаты, анализ которых возможно будет производиться гораздо быстрее. Да, печатать
        сложнее, чем писать, дольше, но потеряв тут времени в других местах это время мы компенсируем в разы, потому
        что… барабанные палочки… эти же данные, с измененными параметрами, вносились эпидемиологами, другими врачами, в
        свои таблицы! Т.е. по сути где-то есть еще люди, которые делали такую же работу. Ну, а имея таблицы всех
        пациентов и зная результаты анализов, появляется легкая возможность делиться этой информацией как с
        эпидемиологами, так и быстро формировать файлы за день и отправлять их сводкой в медицинские учреждения,
        увеличивая скорость принятия по ним решений.
    </p>
    <p align="justify">
        Но оказалось, что ведение того самого журнала, который бы облегчил по сути работу, невозможно, т.к. есть
        какой-то документ, в который надо ввести изменения, а чтобы их ввести надо доказать руководству что этот путь
        маст хэв. Если честно, я думаю, что если бы это зависело от чиновников, то это бы никогда не случилось. Но все
        это было проблемой и в ней учавствовало очень много врачей, который очень часто принимаю решение здесь и сейчас.
    </p>
</div>
<p align="justify">
    Ну и в начале мая я получил добро на создание электронного журнала, а дальше все закрутилось и надо было написать
    программу, которая делала все что хотели и что требовалось врачам вирусологам: т.е. это была таблица, примерно на
    30к; с её помощью было легко просматривать результаты дня, недели, месяца; отсортированными результаты деятельности
    легко отправляли в больницы Гомельской области, эпидемиологам центров гигиены; выписывались результаты; формировался
    документ на выезд в другие страны мира. Вышло так:
</p>
<img name="{% static "
     portfolio/vba_6_lab.png" %}" src="{% static "portfolio/vba_6_lab.png" %}" class="rounded mx-auto d-block">
<img name="{% static "
     portfolio/vba_7_lab.png" %}" src="{% static "portfolio/vba_7_lab.png" %}" class="rounded mx-auto d-block">
<hr>
<h2>Задача4.</h2>
<p align="justify">
    Хорош эмоций – сразу к делу: У нас есть таблица данных по технике для списания, необходимо было сформировать акты
    неремонтопригодности и акты списания основных средств. Входные данные были разнесены в Excel, запускалась программа
    и результатом становились файлы Word (два типа актов).
</p>
<img name="{% static "
     portfolio/vba_8_asu.png" %}" src="{% static "portfolio/vba_8_asu.png" %}" class="img-fluid rounded mx-auto d-block">
<img name="{% static "
     portfolio/vba_9_asu.png" %}" src="{% static "portfolio/vba_9_asu.png" %}" class="rounded mx-auto d-block">
{% endblock%}