{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}
<div class="row justify-content-center my-3">
    <div class="col-4">
        <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" data-bs-toggle="tooltip" href="#collapseExample"
               role="button"
               aria-expanded="false" aria-controls="collapseExample" data-bs-placement="bottom"
               title="Для просмотра на другом языке необходимо отжать кнопку, выбранного языка">
                На русском
            </a>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-toggle="tooltip"
                    data-bs-target="#collapseExample2"
                    aria-expanded="false" aria-controls="collapseExample" data-bs-placement="bottom"
                    title="To view in another language, you must release the button of the selected language">
                In English
            </button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" ata-bs-toggle="tooltip" data-bs-target="#collapseExample3"
                    aria-expanded="false" aria-controls="collapseExample" data-bs-placement="bottom"
               title="Дзеля прагляду на iншай мове трэба адцiснуць кнопку, выбраннай мовы">
                Па-беларуску
            </button>
        </p>
    </div>
</div>


<div class="collapse" id="collapseExample">
    <div class="card card-body">
        {% block content_ru_version %}Одной из главных задач, которые выполняло учреждение, в котором когда-то я
        работал,
        {% endblock %}
    </div>
</div>
<div class="collapse" id="collapseExample2">
    <div class="card card-body">
        {% block content_en_version %}To English
        {% endblock %}
    </div>
</div>
<div class="collapse" id="collapseExample3">
    <div class="card card-body">
        {% block content_by_version %}
        Па-Беларуску Одной из главных задач, которые выполняло учреждение, в котором когда-то я работал,
        {% endblock %}
    </div>
</div>


{% endblock%}